html {
  --yzforum-white-solod: #fff;
  --yzforum-black-solod: #000;

  --yzforum-gray-4: #bcc8d4;

  --yzforum-blue-2: #87ceff;
  --yzforum-blue-3: #208ff4;

  --yzforum-green-4: #30bf58;

  --yzforum-yellow-2: #fada64;
  --yzforum-yellow-3: #cf9f16;

  --yzforum-red-2: #fdb5b2;
  --yzforum-red-3: #fd7677;
  --yzforum-red-4: #f63539;
  --yzforum-red-5: #b8101c;

  --yzforum-purple-4: #a87cfa;

  --yzforum-pink-0: #ffeff7;
  --yzforum-pink-3: #fd92cb;
  --yzforum-pink-4: #fa4fb3;

  --yzforum-shadow-color: hsla(0, 0%, 0%, 0.05);
  --yzforum-trans-gray: rgba(255, 255, 255, 0.2);

  --yzforum-trans-blue-3: #54aeff77;
  --yzforum-trans-blue-4: #218bff77;

  --yzforum-trans-pink-2: #ffadda77;

  --yzforum-mask-color-0: #00000077;
  --shadow: 0 1px 2px var(--yzforum-shadow-color),
  0 1px 4px var(--yzforum-shadow-color),
  0 2px 8px var(--yzforum-shadow-color);
  --yzforum-shadow-0: 0 0 12px rgba(0, 0, 0, 0.2);
  --yzforum-shadow-1: 0 0 17px var(--yzforum-trans-blue-3);
}