html {
  --yzforum-white-solod: #fff;
  --yzforum-black-solod: #000;

  --yzforum-gray-4: #bcc8d4;

  --yzforum-blue-2: #79c7ff;
  --yzforum-blue-3: #208ff4;

  --yzforum-green-4: #30bf58;

  --yzforum-yellow-2: #fada64;
  --yzforum-yellow-3: #cf9f16;

  --yzforum-red-2: #ffa3a0;
  --yzforum-red-3: #f66668;
  --yzforum-red-4: #ea2e31;
  --yzforum-red-5: #ba0d1a;

  --yzforum-purple-4: #9d6def;

  --yzforum-pink-0: #f8a3cf;
  --yzforum-pink-3: #fd6bbe;
  --yzforum-pink-4: #f634a9;

  --yzforum-shadow-color: hsla(0, 0%, 0%, 0.05);
  --yzforum-trans-gray: rgba(255, 255, 255, 0.2);

  --yzforum-trans-blue-3: rgba(59, 164, 255, 0.47);
  --yzforum-trans-blue-4: rgba(17, 125, 246, 0.47);

  --yzforum-trans-pink-2: #ffadda77;

  --yzforum-mask-color-0: #00000077;
  --shadow: 0 1px 2px var(--yzforum-shadow-color),
  0 1px 4px var(--yzforum-shadow-color),
  0 2px 8px var(--yzforum-shadow-color);
  --yzforum-shadow-0: 0 0 12px rgba(0, 0, 0, 0.2);
  --yzforum-shadow-1: 0 0 17px var(--yzforum-trans-blue-3);
}