.yz-dark-mode {
  --yzforum-font-color-0: #b3b3b3;
  --yzforum-font-color-1: #c5c5c5;
  --yzforum-font-color-2: #dddddd;
  --yzforum-font-color-3: #e0e0e0;

  --yzforum-white: #0f1720;

  --yzforum-blue-0: #00152e;
  --yzforum-blue-5: var(--yzforum-blue-2);

  --yzforum-red-0: #52000c;

  --yzforum-trans-white-2: #0d2034d9;
  --yzforum-trans-white-5: #0f253d8e;
  --yzforum-trans-white-9: #0000001a;

  --yzforum-trans-blue-0: #09132077;
  --yzforum-trans-blue-1: #3d608477;
  --yzforum-trans-blue-2: #0b397e77;

  --yzforum-trans-pink-0: #21131a77;
  --yzforum-trans-pink-1: #aa608477;
}